.chat-container {
    max-width: 800px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "sidebar messages"
        "sidebar input";
}

.chat-header {
    grid-area: header;
    border-bottom: 1px solid #e5e7eb;
    background-color: #0096c7;
}

.participants-sidebar {
    grid-area: sidebar;
    border-right: 1px solid #e5e7eb;
    overflow-y: scroll;
    background-color: #ece8e8;
}

.messages {
    grid-area: messages;
    overflow-y: scroll;
    padding: 1rem;
}

.input-bar {
    grid-area: input;
    border-top:1px solid #e5e7eb;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: #c0dbe0;
}

.input-bar input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.25rem;
    background-color: #f3f4f6;
}

.input-bar button {
    background-color:#11dbff;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.message {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.message img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: cover;
}

.message-content {
    background-color: #f3f4f6;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-left: 0.5rem;
    max-width: 70%;
    word-wrap: break-word;
}

.message-info {
    font-size: 0.75rem;
    color: #6b7280;
    margin-bottom: 0.25rem;
}
.emoji-btn{
    margin-right: 10px;
    width: auto;
    height: auto;
    font-size: 3px;
}

.sent-message {
    justify-content: flex-end;
}

.sent-message .message-content {
    background-color: #3b82f6;
    color: white;
}
.send-btn {
    background-color: #00b4d8;
    border-radius: 0.25rem;
    padding: 0.5rem;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.send-btn:hover {
    background-color: #0096c7;
}